 <div class="carousel">
        <button id="anterior" class="b-carousel anterior" onclick="anterior()"><i class="fas fa-chevron-circle-left"></i></button>

        <div class="imagenes-carousel">
            <img src="/img/image3.jpg" alt="image">
            <img src="/img/image1.jpg" alt="image">
            <img src="/img/image16.jpg" alt="image">
            
            <img src="/img/image4.jpg" alt="image">
            
            <img src="/img/image6.jpg" alt="image">
            <img src="/img/image7.jpg" alt="image">


            

        </div>

        <button id="siguiente" class="b-carousel siguiente" onclick="siguiente()"><i class="fas fa-arrow-circle-right"></i></button>

</div>