<footer class="footer">
    <p class="footer__copy">&copy; Drobotij Leandro Nahuel. All rights reserved.&copy;</p>
    <div class="header__socialNetworks">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>

</footer>