<header class="header">
    <h1 class="header__titulo">Fotografias</h1>
    
    <nav class="header__navegacion">
        <li ><a class="header__enlaces" href="/">INICIO</a></li>
        <li ><a class="header__enlaces" href="/gallery">GALLERIA</a></li>
        <li ><a class="header__enlaces" href="/about">ACERCA DE</a></li>
        <div class="header__socialNetworks s">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="header__code">
            <button id="code" class="header__codeBtn btn"><i class="fas fa-laptop-code"></i></button>
            <div id="msg" class="header__msg">
                <p>Este sitio web fue creado con:</p>
                <p><span class="about__technologies"> HTML | CSS | SASS | Javascript | NodeJS | ExpressJS</span></p>
                <p>por <a href="https://drobotijnahuel.herokuapp.com/" target="_blank" title="visit drobotij-leandro" rel="nofollow">Drobotij Nahuel Leandro</a></p>
              
            </div>
            
        </div>
    </nav>

    <button id="hamburger" class="btn header__hamburger"><img src="/img/hamburger_icon.svg" alt="icon"></button>
    <div id="social" class="social">
         <div class="header__socialNetworks">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a class="n-margin" href="#"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</header>