<div id="loading" class="loading">
        <div class="carga active">
            <svg viewBox="-5 -10 65 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62939e-06 0C29.2711 0 53 20.8188 53 46.5C53 72.1812 29.2711 93 7.62939e-06 93L7.62939e-06 0Z" fill="#062A2C"/>
                <path d="M7.62939e-06 0L7.62939e-06 -5H-4.99999L-4.99999 0H7.62939e-06ZM7.62939e-06 93H-4.99999L-4.99999 98H7.62939e-06L7.62939e-06 93ZM7.62939e-06 5C27.1443 5 48 24.1747 48 46.5L58 46.5C58 17.4628 31.3979 -5 7.62939e-06 -5L7.62939e-06 5ZM48 46.5C48 68.8253 27.1443 88 7.62939e-06 88L7.62939e-06 98C31.3979 98 58 75.5372 58 46.5L48 46.5ZM5.00001 93L5.00001 0H-4.99999L-4.99999 93H5.00001Z" fill="#00ADB5" mask="url(#path-1-inside-1)"/>
                </svg>
            <p class="loading-word">Cargando</p>
        </div>

    </div>